.profileContainer {
  display: table;
  height: -webkit-fill-available;
  width: 100%;
  background-color: #b5b5cc;
}
.profile {
  display: flex;
  padding-top: 50vh;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 300px;
}
